Package: com.t7rutweaks.fakepicturebypass
Name: FakePictureBypass
Version: 0.0.1
Architecture: iphoneos-arm
Description: An even more awesome XPC service!
Maintainer: t7ru
Author: t7ru
Section: System
